@import "tailwindcss";
@plugin "daisyui";

:root {
  /* Calm Blue */
  --color-calm-blue: #4682B4;

  /* Black */
  --color-black: #000000;

  /* White */
  --color-white: #FFFFFF;

  /* Light Green */
  --color-light-green: #90EE90;

  /* dash board colors */
  --dashboard-blue: #3199ee;

  /* gray */
  --gray-color: #fafafa;

  /* dashboard bg */
  --dashboard-bg: #ffffff;

   --dashboard-border: #e7ebef;

   /* font color */
   --fourground-color: #020817;



}

.dark {
  --gray-color: #1a1a1a;
  --dashboard-bg: #020817;
  --dashboard-border: #1e293b;
  --fourground-color: #fff;
}